[alias]
	co = checkout

[color]
	ui = true

[color "diff"]
	old = red
	new = green

[color "diff-highlight"]
	oldNormal = red
	newNormal = green
	oldHighlight = red reverse
	newHighlight = green reverse

[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RXE

[credential]
	helper = osxkeychain

[user]
	name = Clay Miller
	email = clay@smockle.com
	signingkey = 6EB4C794

[github]
	user = smockle

[pull]
	rebase = true

[fetch]
	prune = true

[help]
	autocorrect = -1
