[alias]
	co = checkout

[color]
	ui = auto

[core]
	excludesfile = ~/.gitignore

[credential]
	helper = osxkeychain

[user]
	name = Clay Miller
	email = clay@smockle.com
	signingkey = 6EB4C794

[github]
	user = smockle

[pull]
	rebase = true

[fetch]
	prune = true

[help]
	autocorrect = -1
