[color]
	ui = true

[color "diff"]
	old = red
	new = green

[color "diff-highlight"]
	oldNormal = red
	newNormal = green
	oldHighlight = red reverse
	newHighlight = green reverse

[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RXE

[credential]
	helper = osxkeychain

[user]
	name = Clay Miller
	email = clay@smockle.com

[github]
	user = smockle

[init]
	defaultBranch = main

[pull]
	rebase = true

[fetch]
	prune = true

[help]
	autocorrect = -1

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
