[alias]
	co = checkout
    issues = !ghi

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto

[core]
	quotepath = false
	excludesfile = ~/.gitignore

[credential]
	helper = osxkeychain

[user]
	name = Clay Miller
	email = clay@smockle.com
[github]
	user = smockle
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
