[alias]
	co = checkout
	issues = !ghi
	accept-ours = "!f() { [ -z \"$@\" ] && set - '.'; git checkout --ours -- \"$@\"; git add -u -- \"$@\"; }; f"
	accept-theirs = "!f() { [ -z \"$@\" ] && set - '.'; git checkout --theirs -- \"$@\"; git add -u -- \"$@\"; }; f"
	log = "log --graph --pretty=format:'%C(auto)%h %s %Cgreen(%cr) %Cblue<%an>%Creset'"
	diff = "diff --word-diff"
	pr = "pull-request"
	open = browse

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto

[core]
	quotepath = false
	excludesfile = ~/.gitignore

[credential]
	helper = osxkeychain

[user]
	name = Clay Miller
	email = clay@smockle.com
	signingkey = 6EB4C794
[github]
	user = smockle
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[ghi]
	token = !security find-internet-password -a smockle -s github.com -l 'ghi token' -w
[help]
	autocorrect = -1
[hub]
	protocol = https
[fetch]
	prune = true
