/* Header Line 2: Hide items */
.vsts-header table.header-table.l2 .header-row {
  display: none;
}
.vsts-header + .content-section {
  top: 40px !important;
}
.full-screen-mode .vsts-header + .content-section {
  top: 0 !important;
}
.vsts-header .hub-selector .hubs-menubar.menu-bar>.menu-item.selected::after, .vsts-header .hub-selector .hubs-menubar.menu-bar>.menu-item-container>.menu-item.selected::after {
  border: 0;
  display: none;
}
/* White Toolbar: Hide items */
.hub-view:not(.triage-view) .hub-title {
  height: 37px;
  left: unset !important;
  right: 0;
  top: 0;
  width: 49px;
}
.hub-view:not(.triage-view) .hub-title .workitem-header-bar {
  display: none;
}
.hub-view:not(.triage-view) .hub-title .toolbar.workitem-header-toolbar .menu-bar > .menu-item {
    margin: 7px 2.5px !important;
}
.work-items-right-pane {
  padding-top: 0 !important;
}
/* White Toolbar: Work item title */
.work-item-form-title {
  margin-right: 47px !important;
  padding-right: 0 !important;
}
.copy-workitem-title-container {
  display: none !important;
}
/* White Toolbar: Hide items */
.discussion-adornment-container {
  display: none !important;
}
/* Gray Toolbar: Hide items */
.work-item-form-main .work-item-form-coreContent-reasonContainer,
.work-item-form-main .work-item-form-coreContent-lastUpdatedWrapper {
  display: none !important;
}
/* Gray Toolbar: One line, no wrap */
.work-item-form-main .work-item-form-coreContent {
  display: flex !important;
}
.work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-row1,
.work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-row2 {
  flex: 1 1 !important;
  flex-basis: unset !important;
  flex-wrap: nowrap !important;
}
.work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-row2 .work-item-form-tabs {
  align-self: flex-end;
  margin-right: 0;
  min-width: 247px;
}
.work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-row2 .work-item-form-tabs ul {
  display: flex;
}
@media (max-width: 1024px) {
  .work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-areaPathContainer,
  .work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-iterationPathContainer,
  .work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-row2 .work-item-form-coreContent-controls-container {
    display: none !important;
  }
}
.hub-view .hub-splitter:not(.collapsed) .work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-areaPathContainer,
.hub-view .hub-splitter:not(.collapsed) .work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-iterationPathContainer,
.hub-view .hub-splitter:not(.collapsed) .work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-row2 .work-item-form-coreContent-controls-container,
.triage-view .work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-areaPathContainer,
.triage-view .work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-iterationPathContainer,
.triage-view .work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-row2 .work-item-form-coreContent-controls-container {
  display: none !important;
}
.work-item-form-main .work-item-form-coreContent .work-item-form-coreContent-row2 .work-item-form-coreContent-controls-container {
  flex: 1 1 !important;
  flex-basis: unset !important;
}
/* Description & Comments */
.form-grid .section1.form-section.wide-section.section,
.form-grid .bottom-section.section,
.form-grid .wrapping-container {
  width: 100% !important;
}
@media (min-width: 1024px) {
  .hub-view:not(.triage-view) .form-grid .section1.form-section.wide-section.section,
  .hub-view:not(.triage-view) .form-grid .bottom-section.section {
    width: 60% !important;
  }
  .hub-view:not(.triage-view) .form-grid .wrapping-container {
    width: 40% !important;
  }
  .hub-view.triage-view .form-grid .section1.form-section.wide-section.section,
  .hub-view.triage-view .form-grid .bottom-section.section
  .hub-view.triage-view .form-grid .wrapping-container {
    float: none !important;
    min-width: 100% !important;
    width: 100% !important;
  }
}
.form-grid .wrapping-container .section2.form-section.section {
  width: 100% !important;
}
.form-grid .wrapping-container .section2 [id="\31 75"],
.form-grid .wrapping-container .section3,
.form-grid .wrapping-container .section4 {
  display: none !important;
}
.richeditor-editarea {
  max-height: 83.25%;
  max-width: 83.25%;
  transform: scale(1.2) !important;
  transform-origin: 0 0;
}
.discussion-messages-messagecontent {
  font-size: 14px;
  line-height: 1.4;
}
