<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.unifi.controller</string>

    <key>WorkingDirectory</key>
    <string>/Applications/UniFi.app/Contents/Resources</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/libexec/java_home</string>
      <string>-v</string>
      <string>1.8</string>
      <string>--exec</string>
      <string>java</string>
      <string>-jar</string>
      <string>lib/ace.jar</string>
      <string>start</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ProcessType</key>
    <string>Background</string>

    <key>StandardErrorPath</key>
    <string>/Users/clay/Library/Logs/com.unifi.controller.log</string>

    <key>StandardOutPath</key>
    <string>/Users/clay/Library/Logs/com.unifi.controller.log</string>
  </dict>
</plist>