<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.smockle.wifi</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/clay/Developer/dotfiles/server/wifi.sh</string>
    </array>

    <key>Nice</key>
    <integer>1</integer>

    <key>StartInterval</key>
    <integer>300</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/Users/clay/Library/Logs/com.smockle.wifi.log</string>

    <key>StandardOutPath</key>
    <string>/Users/clay/Library/Logs/com.smockle.wifi.log</string>

    <key>UserName</key>
    <string>clay</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>

        <key>HOME</key>
        <string>/Users/clay</string>
    </dict>
  </dict>
</plist>