<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.homebridge.harmony</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/homebridge</string>
      <string>-I</string>
      <string>-U</string>
      <string>/Users/clay/.homebridge/harmony</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/Users/clay/Library/Logs/com.homebridge.harmony.log</string>

    <key>StandardOutPath</key>
    <string>/Users/clay/Library/Logs/com.homebridge.harmony.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>

      <key>HOME</key>
      <string>/Users/clay</string>
    </dict>
  </dict>
</plist>
